*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/* ----- NAVIGATION BAR ----- */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 11vh;
    background-color: transparent;
    opacity: 1;
    position: fixed;
    width: 100%;
    transition: 0.4s all;
}

ul.nav-a{
    margin: 0;
}

h4{
    margin: 0;
}

nav:hover{
    background-color:#263238;
    transition: 0.4s all;
}

.nav-logo{
    color: rgb(202, 202, 202);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
}

.nav-a{
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

.nav-a a{
    color: rgb(202, 202, 202);
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 19px;
}

.nav-a a:hover{
    color: white;
}

.nav-a li{
    list-style: none;
}